python-dotenv==1.0.1
chainlit==2.5.5
langchain==0.3.19
langchain-openai==0.3.6
langchain-community==0.3.18
langchain-core==0.3.37
langchain-google-vertexai==2.0.13
langchain-text-splitters==0.3.6
openai-agents==0.0.6
firebase-admin==6.9.0